<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap=
"http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="352f618e-6466-4e28-86b4-83dbed961b18"
    Publisher="CN=UID-Asher"
    Version="1.0.24.0" />

  <mp:PhoneIdentity PhoneProductId="352f618e-6466-4e28-86b4-83dbed961b18" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>200201-MY-YellowLead-UWP</DisplayName>
    <PublisherDisplayName>UID-Asher</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="_200201_MY_YellowLead_UWP.App">
      <uap:VisualElements
        DisplayName="200201-MY-YellowLead-UWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="200201-MY-YellowLead-UWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="AppLauncher.exe" />
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".txt">
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Text</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="_200201_MY_YellowLead_UWP.Questions">
          <BackgroundTasks>
            <Task Type="audio"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
     

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name = "internetClient" />
    <rescap:Capability
    xmlns:rescap = "http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
    Name = "runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <rescap:Capability Name="appDiagnostics" />
    <uap:Capability Name="documentsLibrary" />
    <rescap:Capability Name="confirmAppClose"/>
  </Capabilities>
  </Package>